@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');
@import 'variables' 
@import 'mixins'
@import 'project'

*
    box-sizing: border-box
    padding: 0
    margin: 0

html
    font-family: 'Montserrat', sans-serif

body
    font-size: 16px
    color: $main-black
    font-weight: 400
    ::selection
        background-color: #ff4500
        color: white
    
h1, h2, h3
    margin: 0
    padding: .5em 0
    font-weight: 400

p 
    font-weight: 400
    padding: .5em 0
    

.header
    position: fixed
    width: auto
    margin: 1.5em 1.1em
    

.home-link
    font-family: 'Butler Stencil', sans-serif
    font-weight: 300
    font-size: 1.8em
    letter-spacing: 1px
    text-decoration: none
    color: $main-black
    cursor: pointer
    &:hover
        opacity: 0.6 !important


.intro-wrapper
    padding: 10em 0
    text-align: center
    animation: fadein 2s

    @keyframes fadein
        from
            opacity: 0
        to  
            opacity: 1
            
.name-text
    font-size: 1.25em
    line-height: 2em

.heading-title
    font-size: 2.5em 
    line-height: 1.2em

.work
    min-height: 100vh
    margin: 1em .8em 10em

.typewriter-wrapper
    visibility: hidden
    animation: showIn 0s 3s forwards

    @keyframes showIn
        to 
            visibility: visible
            

.typewriter
    overflow: hidden
    display: inline-block
    font-size: 1.2em
    animation:  typing 2.5s steps(35, end), blink 1s step-end infinite
    white-space: nowrap
    letter-spacing: .2em
    border-right: 3px solid $main-black
    margin-bottom: 5em
    animation-delay: 3s           

    @keyframes typing 
        from
            width: 0px
    
        to  
            width: 218px

    @keyframes blink 
        from, to 
        0%
            border-color: transparent 

        50% 
            border-color: $main-black  
            


.work-item 
    margin-bottom: 10em
    text-decoration: none

.work-description
    @include work-description-wrapper

.work-title
    @include work-title
     
.work-type
    @include work-type

.work-img
    @include work-img-wrapper

.about
    margin: 2em .8em 10em

    .about-text
        margin-bottom: 6em
    
    .about-title
        @include subtitle
        
    .about-paragraph
        @include paragraph

.contact
    margin: 1em .8em

.contact-layout
    margin-bottom: 10em
        
.contact-title
    @include subtitle

.contact-paragraph
    @include paragraph

                
.contact-form
    display: flex
    flex-direction: column
    margin: 1.5em 0 8em
        
.kw-alert, .kw-alert-error, kw-success
    display: none
    
.form-item
    display: flex
    flex-direction: column
    margin-bottom: 5em
              
    .form-label
        margin-bottom: 1em
        letter-spacing: 1px
        font-size: 1.1em

    .form-input
        font-family: 'Montserrat'
        padding: 1em 0 .7em .4em
        font-size: 1em
        outline: none
        border: none
        border-bottom: 1px solid #dddddd

.form-textarea
    resize: none
    overflow: auto
    line-height: 1.7em
    letter-spacing: 1px
    height: 3.2em
    transition: all 1s
    &:focus
        height: 15em


.submit-btn
    font-size: .75em
    padding: 1.2em 0
    cursor: pointer
    border: none
    user-select: none
    background-color: #000000
    color: #ffffff
    font-weight: 300
    text-transform: uppercase
    letter-spacing: 2px
    text-decoration: none
    outline: none
    transition: background-color 0.5s ease, opacity 0.5s ease-in-out, color 0.5s ease
    &:hover
        opacity: 0.8
        background-color: #ffffff
        color: $main-black

.social-wrapper
    margin-bottom: 5em
    padding-bottom: 2em 
    background-color: $background-snow  
    

.social-title
    font-size: 1.5em
    margin-bottom: 1em

.social-links
    padding-left: 3em
    list-style: none

.link-wrapper
    margin-bottom: 2em
    display: flex
    &:last-of-type
        margin: 0
    
.mdash
    margin-right: 1em

.link-item
    letter-spacing: 1px
    font-size: 1.1em
    @include link-hover
        
.footer
    font-family: 'Butler', sans-serif
    letter-spacing: 3px
    font-size: .8em
    margin: 1em 0
    text-align: center
    opacity: 0.8

@include tablet
            
    .container
        max-width: 900px
        display: grid
        column-gap: 1em
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))

    .header
        margin-left: 1.8em 

    .intro
        margin: 1.8em

    .intro-wrapper
        text-align: left
            
    .heading-title
        font-size: 3.5em

    .work
        margin-left: 1.8em
        margin-right: 1.8em

    .typewriter
        font-size: 1.3em

    .about
        margin-left: 1.8em
        margin-right: 1.8em

    .about-skillset
        display: flex
        flex-wrap: wrap
        justify-content: space-around

    .about-experience
        flex-basis: 100%

    .contact
        margin-left: 1.8em
        margin-right: 1.8em
    
    .contact-layout
        margin-bottom: 15em
    
    .contact-form
        padding: 0 2em
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between

    .form-item
        flex-basis: 45%
        &:last-of-type
            flex-basis: 100%
            margin-top: 2em

    .form-textarea:focus
        height: 20em

    .submit-btn
        padding-left: 3em
        padding-right: 3em

    .social-title
        margin-bottom: 2em

    .social-links
        display: flex
        justify-content: center

    .link-wrapper
        flex-basis: 40%


@include desktop

    .grid
        display: grid
        grid-template-columns: 1fr repeat(4, 10em) 1fr
        column-gap: 1em
        row-gap: 1em

    .typewriter-wrapper
        max-width: 1000px
        margin: auto

    .typewriter
        font-size: 1.5em
        margin-bottom: 5em
        @keyframes typing 
            from 
                width: 0px 
            to  
                width: 272px

    .container
        max-width: 1000px
        margin: 0 auto
        column-gap: 1em
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr))

    .work-item
        margin-bottom: 3.5em

    .work-img
        filter: brightness(0%)
        transition: filter .4s ease 
        //height: 400px
        &:hover
            filter: brightness(100%)

    .intro-wrapper
        padding: 13em 0

    .name-text
        grid-row: 1
        grid-column: 2/3

    .heading-title
        font-size: 4em
        grid-row: 2
        grid-column: 2/6

    .about-title
        grid-row: 1
        grid-column: 1/-1
    
    .about-paragraph
        grid-row: 2
        grid-column: 2/6
        &:last-of-type
            grid-row: 3
            
    .contact-title
        grid-row: 1
        grid-column: 1/-1
    
    .contact-paragraph
        grid-row: 2
        grid-column: 2/6

    .contact-form
        max-width: 800px
        margin: 0 auto 5em

    .social-title
        text-align: center
        grid-row: 1
        grid-column: 2/3

    .social-links
        grid-row: 2
        grid-column: 3/5
   
    
@include large-desktop

    .grid
         grid-template-columns: 1fr repeat(4, 15.6em) 1fr

    .container
        max-width: 1300px
        column-gap: 1em
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr))

    .contact-form
        max-width: 900px
            
    .typewriter-wrapper
        max-width: 1300px
        margin: auto
        
   