/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Butler', sans-serif; 
    font-weight: 300;
    -ms-overflow-style: none;  /* IE 10+ */
    overflow: -moz-scrollbars-none;  /* Firefox */
}

body::-webkit-scrollbar{
    display: none;  /* Safari / Chrome */
}




::selection{
    /* background-color: #ff4500;  */
    background-color: #007000;
    color: white;
}

/* NAVIGATION */
header{
    display: block;
    height: 70px;
    position: fixed;
    top: -70px;
    width: 100%;
    transition: top 0.5s ease-out;
    z-index: 1;
}

.top-line{
    background-color: black;
    border-top: 1px solid;
    position: absolute;
    left: 5%;
    top: 69px;
    width: 90%;
}

nav ul{
    align-items: center;
    display: flex;
    float: left;
    font-size: 16px;
    justify-content: center;
    letter-spacing: 4px;
    list-style: none;
    margin: auto;
    text-align: center;
    width: 100%;
}

nav #About-button{
    position: absolute;
    width: auto;
    left: 5%;
}

nav #Contact-button{
    position: absolute;
    width: auto;
    right: 5%;

}

.home-button{
    font-family: 'Butler Stencil', sans-serif;
    font-weight: 300;
    height: 70px;
    width: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 22px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    opacity: 0.75; 
}

/* SECTION */

section{
    width: 100%;
    height: 900px;
    min-height: 900px;
    opacity: 0;
    transform: translate(0, 100px); 
    transition: all 1s;
}

section.visible{   
    opacity: 1;
    transform: translate(0, 0);
}

.title{
    color: #0d121c;
    font-size: 50px;
    height: 50px;
    letter-spacing: 4px;
    width: fit-content;
}

p{
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2.90px;
    color: #191c2b;
    line-height: 1.89;
}

/* HOME PAGE */

section.home-page{
    height: 1000px;
    opacity: 1;
    transform: translate(0, 0);
}


.logo-container{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}  

.logo-container h1{
    color: #0a0e3f;
    font-family: 'Butler Stencil', sans-serif;
    font-weight: 300;
    font-size: 74px;
    letter-spacing: 3px;

}

/* ABOUT */

.wrapper_about{
    position: relative;
    float: left;
    padding: 0 200px 0 200px;
    width: 100%;
}

.wrapper_about:after{
    content: "";
    display: table;
    clear: both;
}

.wrapper_about p{
    margin: 0;
    padding: 20px 20px 20px 0;  
} 

.wrapper_about p:last-child{
    padding: 20px 20px 0 0;
}

.column{
    float: left;
    width: 50%;
}

.photo{
    height: 500px;
    width: 400px;
    float: right;
    background-image: url("../images/szymon.jpg");
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media screen and (min-width: 320px) and (min-width: 768px){
    .column{
        width: 100%;
    }
    .photo{
        flex: 1;
    }
}

/* CONTACT */

.frame_contact{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50%;
}

.frame_contact p{
    text-align: center;
    padding: 20px 0 25px 0;
    width: 45%;
    max-width: 45%;
}

.symbol{
    padding-right: 5px;
    padding-left: 15px;
}
.contact_me .symbol{
    display: inline;
}

.contact_me .link{
    width: 100%;
    letter-spacing: 1px;
    /* display: table-row; */
}

/* FOOTER */

footer{
    align-items: center;
    bottom: 0;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 100%;
}

.copyright{
    position: relative;
    display: flex;
    font-size: 14px;
    letter-spacing: 4px;
    text-align: center;
}
